section{
    margin-top: 1.2em;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    flex-wrap: wrap;
}

.card{
    width: 150px;
    padding: 1.25em 1em;
    color: white;
}

.orange{
    background-color: orange;
}

.turquoise{
    background-color: turquoise;
}

.blue-green{
    background-color: blueviolet;
}